@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


ul {
    list-style: none;
}

.App {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    padding: 50px;
}



.footer {
    margin-top: auto;
    
}

.footer-icon {
    padding:10px;
    margin-left: 20px;
    float: right;
}

.btn {
    font-family: 'Oswald';
    display: inline-block;
    background: rgb(250, 177, 169);
    color: black;
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background 1s;
    text-decoration: none;
  }
  .btn:hover {
    background-color: rgb(250, 211, 214);
    border: black solid 3px;
    font-weight: 700;
    width: 350px;
    text-align: center;

  }

  .nav {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    border-bottom: solid black 1px;
    height:170px;
  }

  h1 {
    font-family: 'Oswald';
    letter-spacing: 2px;
    text-align: center;
  }

  img {
    border-radius: 10px;
    max-width: 250px;
    max-height: 400px;
    /* margin: 50px; */
  }


  .portfolio {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    padding-left: 25px;
    
  }

  .portfolio > div {
    width: 300px;
    margin-bottom: 20px;

  }

  


  p{
    width: 270px;
    overflow-wrap: break-word;
    font-family: 'oswald';
    text-align: center;
  }

  @media only screen and (max-width: 884px) {
    form {
      width:600px;
      left:200px;
    }
    .btn:hover {
      background-color: rgb(250, 211, 214);
      border: black solid 3px;
      font-weight: 700;
      width: auto;
      text-align: center;
  
    }
  }

  .visi{
    visibility: hidden;
  }

  .keycol{
    left: 200px;
    top: 30px;
    border-radius: 10px;
  }

  @media only screen and (max-width: 625px) {
    
    .list{
      margin-top:80px;
    }

    form {
      position:relative;
      left: -200px;
    }

    .visi {
      visibility:visible;
      position: relative;
      left: 145px;
      top: 30px;
      

    }

    li{
      visibility: hidden;
    }

    .keycol > * > *{
      background-color:whitesmoke !important;
  
      
    }
    
  }

  @media only screen and (max-width: 400px) {
    
    .mess{
      width: 300px; 
      position: relative;

     
      
    }

    .containercontact{
      
     
      width: 100%;
      padding:10px;
    }
    form{
      margin:60px;
    }
    .App{
      width: 360px;
      padding:10px;
    }

    nav {
      padding:10px;
      padding-right: 30px;
      justify-content:flex-start;
    }
   

    nav > div {
      position:absolute;
      left:20px !important;
    }


  }

 

 

  

  
  

 



  
  

 

  

